button {
	background-color: #4CAF50;
	font-size: 24px;
	border-radius: 50%;
	width: 50%;
	text-align: center;
	padding: 15px 25px;
	cursor: pointer;
	box-shadow: 0 9px #999;
	/*display: inline-block*/

}

.buttonWrap {
	text-align: center;
}