button {
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
	color:white;
}

body {
	background:cornsilk;
	font-family: Helvetica, Arial, sans-serif;
	padding:10px;
}

.buttonWrap {
	text-align: center;
}

.brown{
	background-color: rgb(97, 75, 75);
}

header, footer {
	padding: 1em;
	
	clear: left;
	text-align: center;
}

td, th {
	padding:10px;
	border:1px solid grey;
}
table {
	border-collapse: collapse;
}