<!DOCTYPE html>
<html>
<head>
	<style> /*style for header and footer*/
		header, footer {
			padding: 1em;
    		color: white;

    		clear: left;
    		text-align: center;
		}
		button {
			padding: 15px 25px;
			font-size: 24px;
			width: 50%;
			box-shadow: 0 9px #999;
		}
	</style>
	<title> WELCOME </title>
	<link href="main.css" type="text/css" rel="stylesheet">
</head>
<body>
	<header>
		<h1 style="color:black;">WELCOME</h1>
	</header>

	<!-- then put a giant button to "START ORDER" -->
	<div class="buttonWrap">
		<a href="orderPage.php">
			<button class="brown">
				Start an Order!
			</button>
		</a>
	</div>

</body>

</html>
